body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBF9;
    font-family: "Inter", sans-serif;
}

.calc-screen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 40px 10px;
    height: 80px;
    background-image: linear-gradient(#B2D3C2, #b2d3c2a1);
    border: 2px solid rgba(12, 4, 4, .6);
    border-radius: 10px;
}

.screen-nums {
    font-size: 3em;
    margin: 5px 10px;
    letter-spacing: -2px;
}

.calc-middle-body {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.enter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    background-color: rgb(255, 250, 218, .8);
    height: 50px;
    width: 180px;
    border: 1.5px solid rgba(12, 4, 4, .2);
    border-radius: 10px;
}

.clr-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    background-color: #BC544B;
    height: 50px;
    width: 80px;
    border: 1.5px solid rgba(12, 4, 4, .2);
    border-radius: 10px;
}

.calc-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 480px;
    width: 408px;
    background-color: #7C6E7F;
    border: 4px solid rgba(12, 4, 4, .3);
    border-radius: 15px;
}

.calc-lower-body {
    display: flex;
    flex-direction: row;
}

.calc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80px;
    background-color: #413839;
    color: #FEF9F3;
    border: 1.5px solid rgba(12, 4, 4, .2);
    border-radius: 10px;
}

.calc-btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    margin: 15px 10px;
}

/* needed to make buttons be aligned correctly */
.placeholder-digit {
    height: 50px;
    width: 80px;
    /* background-color: #413839; */
    /* border: 1.5px solid  */
    border: 1.5px solid rgba(12, 4, 4, 0);
    border-radius: 10px;
}

.clickable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: .1s;
}

.clickable:hover {
    font-size: 2em;
    /* transform: rotate(5deg); */
}